
body
{
    background-image: url(../src/img/world_map.jpg);
    background-size: cover;
}

.box
{
    width: 50%;
    height: 30vh;

    margin-top: 30px;
    margin-bottom: 30px;


    margin-left: auto; 
    margin-right: auto;

    background-color: aqua;
    border: 4px solid darkred;
    border-radius: 20px;
}